<div class="Mcontainei">
	<div class="nav">
		<vehiclos-navbar></vehiclos-navbar>
	</div>
	
	<vehiclos-sell-conf (StyleChangers)="StyleChangers($event)" [style]="style" ></vehiclos-sell-conf>
	<div class='main'>
		<button (click)="StyleChangers(true)" class='butt comp' >
		<img class='comp'src="./../../../assets/svg/filter.svg">
		</button>
			<div class="element-wrapper" *ngFor="let item of data" >
		
			<a>
				<div class='car-name'>{{item.car}}</div>
				<img src="{{item.img}}">
				<div class='car-price'>{{item.price | currency:'EUR':'symbol':'3.0'}}</div>
			</a>
		</div>
	</div>
</div>