<div class="mainBlock">
  <h1 class='kastil2' >Who we Are?</h1>
  <div class="block">
    
    <div class="blolckContent">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt nisi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt

      </p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt nisi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt

      </p>
    </div>
    <div class="imgCont"><img src="./../../../assets/svg/ex.jpg" alt="nani?"></div>
  </div>

  <h1 class='kastil1'>Why US?</h1>
  <div class="block second">
    <div class="blolckContent">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt nisi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt
        nisi?
      </p>


      <ul>
        <li>Lorem ipsum</li>
        <li>dolor sit</li>
        <li>sit amet</li>
        <li>consectetur adipisicing</li>
      </ul>

    </div>
    <div class="imgCont"><img src="./../../../assets/svg/ex2.jpg" alt="nani?"></div>
  </div>

  <div class="block">
    <div class="blockContent third">
      <h1>Any Questions?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt nisi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem!
        Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio
        dolorem incidunt
        nisi?
      </p>

      
    </div>

  </div>

</div>
