<div class="mainBlock">

    <div class="block">
        <div class="blolckContent">
            <h1>Who we Are?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt nisi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt

            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt nisi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt

            </p>
        </div>
        <div class="imgCont"><img src="src=./../../../assets/svg/ex.jpg" alt="nani?"></div>
    </div>

    <div class="block second">
        <div class="blolckContent">
            <h1>Why US?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt nisi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt
                nisi?
            </p>


            <ul>
                <li>Lorem ipsum</li>
                <li>dolor sit</li>
                <li>sit amet</li>
                <li>consectetur adipisicing</li>
            </ul>

        </div>
        <div class="imgCont"><img src="src=./../../../assets/svg/ex2.jpg" alt="nani?"></div>
    </div>

    <div class="block">
        <div class="blolckContent third">
            <h1>Any Questions?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt nisi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident assumenda ea impedit cumque exercitationem! Ducimus veritatis veniam qui amet odit quisquam dolorem mollitia. Exercitationem reprehenderit autem optio dolorem incidunt
                nisi?
            </p>

            <form>

                <div>
                    <input type="text" placeholder="Name" name="Name">
                    <input type="email" placeholder="E-mail" name="E-mail">
                </div>
                <input type="text" placeholder="Subject" name="Subject">
                <textarea type="text" placeholder="Message" name="Message"></textarea>

                <button>Submit</button>

            </form>

        </div>

    </div>

</div>