<form (submit)='call()' class="form-wrapper">
    <div class="form-group">
        <input required email ngModel #email='ngModel' (change)="log(email)" id="email" name="email" type="email" placeholder="Email">
        <div *ngIf="email.touched && !email.valid"> <span *ngIf="email.errors.email">Email neprevilinij</span></div>
    </div>
    <div class="form-group">
        <input required min="3" ngModel #pass='ngModel' (change)="log(pass)" id="pass" name="pass" type="password" placeholder="Password">
    </div>
    <div class="form-group additional">
        <a href="#">Forget password?</a>
        <input type='submit' value='login'>
    </div>

    <div class="signUP">Don’t have an account? <a href="#">sign up</a></div>
</form>