<div class="search-bar">
  <div class="active"> <img src="../../../../assets/svg/active/car_active.svg" alt=""></div>
  <div class="category"> <img src="../../../../assets/svg/car.svg" alt="">  </div>
  <div class="category"> <img src="../../../../assets/svg/bicycle.svg" alt=""> </div>
  <div class="category"> <img src="../../../../assets/svg/bike.svg" alt=""> </div>
  <div class="category"><img src="../../../../assets/svg/minibus.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/caravan.svg" alt=""> </div>
  <div class="category"><img src="../../../../assets/svg/lorry.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/truck.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/tractor.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/construction-bulldozer.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/air-freight.svg" alt=""></div>
  <div class="category"><img src="../../../../assets/svg/boat.svg" alt=""></div>
</div>
