@import "apps/vehiclos-mono/src/styles";

.search-bar {
  user-select: none;
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  background-color: $non-white;
  height: 107px;
  max-width: 1550px;
  margin: 35px auto;
  .category {
    width: 95px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    &:hover{
      cursor: pointer;
    }
    img {
      pointer-events: none;
      user-select: none;
    }
  }

  .active {
    user-select: none;
    width: 150px;
    height: 134px;
    position: absolute;
    top: -17px;
    left: 25px;
    background: #262D31;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    img {

      user-select: none;
      pointer-events: none;
      filter: drop-shadow(0px 1px 7px #17E2B1);
    }
  }
}
