<div class="search-bar">
  <div (click)="moveActive($event, $event.target)" id="car" class="category"> <img src="../../../../assets/svg/car.svg" alt="">  </div>
  <div (click)="moveActive($event, $event.target)" id="bicycle" class="category"> <img src="../../../../assets/svg/bicycle.svg" alt=""> </div>
  <div id="active-thing" class="active"> <img src="../../../../assets/svg/active/{{activeItem}}_active.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="bike" class="category"> <img src="../../../../assets/svg/bike.svg" alt=""> </div>
  <div (click)="moveActive($event, $event.target)" id="minibus" class="category"><img src="../../../../assets/svg/minibus.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="caravan" class="category"><img src="../../../../assets/svg/caravan.svg" alt=""> </div>
  <div (click)="moveActive($event, $event.target)" id="lorry" class="category"><img src="../../../../assets/svg/lorry.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="truck" class="category"><img src="../../../../assets/svg/truck.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="tractor" class="category"><img src="../../../../assets/svg/tractor.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="construction-bulldozer" class="category"><img src="../../../../assets/svg/construction-bulldozer.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="air-freight" class="category"><img src="../../../../assets/svg/air-freight.svg" alt=""></div>
  <div (click)="moveActive($event, $event.target)" id="boat" class="category"><img src="../../../../assets/svg/boat.svg" alt=""></div>
</div>
