
@media only screen and (min-width: 600px) {
.mainBlock{
    .mob{
        display: none;
    }
position: absolute;
top:0px;
right:-100%;
background-color: #f8f8f8;
z-index: 3;
height: 100%;
width: 988px;
.right-arrow{
   position: relative;
    height: 40px;
    top: 50px;
    left: 104px;
    background-color: #f8f8f800;
    border: none;
    z-index: 3;
}
.right-arrows{

     height: 32px;

 }
h1{
    position: relative;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
&:after{
    content: "";
    position: absolute;
    background: #00FF00;
    width: 324px;
    height: 2px;
    top: 68px;
    right: 33%;

}
}



&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 50px);
    width: 1rem;
    z-index: -1;
    margin: 0rem;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(22, 166, 131, 0) 0.01%, #00FF00 100%);
}
.element-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    position: relative;
    margin-left: calc(1rem + 72px);
    margin-bottom: 28px;
    .imges{
        
        width: 242px;
        height: 197px;
        border-radius: 40px;
        overflow: hidden;
        
    img{
        
        width: 242px;
        height: 197px;


    }
    }
    .details{
        display: flex;
        flex-direction:column;
        h2{
            margin-left: 34px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            .price{
                margin-left: 256px;
                &:after{
                    content: "";
                    position: absolute;
                    background: #00FF00;
                    width: 75px;
                    height: 2px;
                    top: 31px;
                    right: 218px;
                
                }
            }

            .close{
                margin-left: 72px;
                position: relative;
                 height: 25px;
                 top:10px;
               
             }
        }

        .elements{
           
            margin-top: 43px;
            margin-left: 34px;
            display: flex;
            flex-direction:row;
            .stick{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background: #000000;
                width: 1px;
                height:105px;
                top: 0px;
                right: 8px;
                }
            }
            .sticks{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background: #000000;
                width: 1px;
                height:105px;
                top: 0px;
                right: 8px;
                }
            }
            .block{
                width: 180px;
                p{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 18px;
                }
                .icon{
                  
                    position: relative;
                     height: 18px;
                     top:5px;
                   
                 }

            }
        }
    }
    &:after{
        content: "";
        position: absolute;
        background: #000000;
        width: 810px;
        height: 2px;
         top: 211px;
        right: 10%;
    
    }


}

}
}
@media only screen and ( max-width: 570px) and (min-width:480px) {
    .mainBlock{
        .comp{
            display: none;
        }
        padding-top: 60px;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #f8f8f8;
        button{
            border:none;
            background-color: #f8f8f8;
        }
        .right-arrows{
            position: relative;
            width: 20px;
            height: 20px;
        }

       .element-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;

           margin-left: 41px;
        .name{
            margin-top: 30px;
            margin-bottom: 17px;
            width: 100%;
            .close{
                position: relative;
                left:57%;
                top:24px;
            }
        }
        .price{
            width: 100%;
            position: relative;
            margin-bottom: 14px;
            &:after{
                content: "";
                position: absolute;
                background: #00FF00;
                width: 75px;
                height: 2px;
                top: -9px;
                left: -6px;
                
            
            }
        }
        
        







        .imges{
        
            width: 132px;
            height: 107px;
            border-radius: 20px;
            overflow: hidden;
            
            img{
                
                width: 132px;
                height: 107px;

            }
        }
        .details{
            .elements{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                .block{
                    width: 170px;
                   
                }
                .bb{
                    margin-left: 30px;
                }
                .ss{
                    margin-left: 65px;
                }
                p{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 18px;
                }
            .stick{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background: #B4B1B1;
                width: 1px;
                height:251px;
                top: 0px;
                right: 190px;
                }
            }
            .sticks{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background:#B4B1B1;
                width: 250%;
                height:2px;
                top: 163px;
                right: -192px;
                }
            }
           
           .icon{
              
               width: 20px;
               height: 20px;
           }
        }
        }
       }
    }
}
@media only screen and ( max-width: 480px) and (min-width:350px) {
    .mainBlock{
        .comp{
            display: none;
        }
        padding-top: 60px;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #f8f8f8;
        button{
            border:none;
            background-color: #f8f8f8;
        }
        .right-arrows{
            position: relative;
            width: 20px;
            height: 20px;
        }

       .element-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;

           margin-left: 41px;
        .name{
            margin-top: 30px;
            margin-bottom: 17px;
            width: 100%;
            .close{
                position: relative;
                left:57%;
                top:24px;
            }
        }
        .price{
            width: 100%;
            position: relative;
            margin-bottom: 14px;
            &:after{
                content: "";
                position: absolute;
                background: #00FF00;
                width: 75px;
                height: 2px;
                top: -9px;
                left: -6px;
                
            
            }
        }
        
        







        .imges{
        
            width: 132px;
            height: 107px;
            border-radius: 20px;
            overflow: hidden;
            
            img{
                
                width: 132px;
                height: 107px;

            }
        }
        .details{
            .elements{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                .block{
                    width: 140px;
                   
                }
                .bb{
                    margin-left: 30px;
                }
                p{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 18px;
                }
            .stick{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background: #B4B1B1;
                width: 1px;
                height:251px;
                top: 0px;
                right: 148px;
                }
            }
            .sticks{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background:#B4B1B1;
                width: 250%;
                height:2px;
                top: 163px;
                right: -192px;
                }
            }
           
           .icon{
              
               width: 20px;
               height: 20px;
           }
        }
        }
       }
    }

}
@media only screen and (max-width: 350px) {
    
    .mainBlock{
        .comp{
            display: none;
        }
        padding-top: 60px;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #f8f8f8;
        button{
            border:none;
            background-color: #f8f8f8;
        }
        .right-arrows{
            position: relative;
            width: 20px;
            height: 20px;
        }

       .element-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;

           margin-left: 41px;
        .name{
            margin-top: 30px;
            margin-bottom: 17px;
            width: 100%;
            .close{
                position: relative;
                left:57%;
                top:24px;
            }
        }
        .price{
            width: 100%;
            position: relative;
            margin-bottom: 14px;
            &:after{
                content: "";
                position: absolute;
                background: #00FF00;
                width: 75px;
                height: 2px;
                top: -9px;
                left: -6px;
                
            
            }
        }
        
        







        .imges{
        
            width: 132px;
            height: 107px;
            border-radius: 20px;
            overflow: hidden;
            
            img{
                
                width: 132px;
                height: 107px;

            }
        }
        .details{
            .elements{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                .block{
                    width: 100px;
                   
                }
                .bb{
                    margin-left: 30px;
                }
                p{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 18px;
                }
            .stick{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background: #B4B1B1;
                width: 1px;
                height:251px;
                top: 0px;      
                right: 116px;

                }
            }
            .sticks{
                position: relative;
                &:after {
                    content: "";
                position: absolute;
                background:#B4B1B1;
                width: 250%;
                height:2px;
                top: 163px;
                right: -150px;
                }
            }
            .aa{
                margin-left: 62px;
            }
           
           .icon{
              
               width: 20px;
               height: 20px;
           }
        }
        }
       }
    }


}