<div class="mainBlock">
<img class='right-arrow' src="./../../assets/svg/right-arrow.svg">
<h1>Whishlist</h1>
<div class="element-wrapper">
    <div class="imges">
        <img class='small-img'src="{{img}}">
    </div>
    <div class="details">
        <h2>
            BMW X1
            <span class="price">
                € 20,234.
            </span>
            <img class='close' src="./../../assets/svg/closeBtn.svg">
        </h2>
        <div class="elements">
        <div class="block stick">
           <p> 
            <img class='icon' src="./../../assets/svg/road.svg">
            46,542 km
           </p>
           <p> 
            <img class='icon' src="./../../assets/svg/user.svg">
            Used
           </p>
           <p> 
            <img class='icon' src="./../../assets/svg/gas.svg">
            Gasoline
           </p>
        </div>
        <div class="block stick">
            <p> 
            <img class='icon' src="./../../assets/svg/calendar.svg">
            02/2016
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/user.svg">
            1 previous owner
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/rainDrop.svg">
            5.1 l/100 km (comb) 1
            </p>
        </div>
        <div class="block">
            <p> 
             <img class='icon' src="./../../assets/svg/horse.svg">
             100 kW 136 hp
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/settings.svg">
            Manual
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/Co2.svg">
            100 g CO2/km (comb) 2
            </p>   
        </div>
    </div>


    </div>

</div>

</div>
