<div class="mainBlock" style="{{style}}">
<button (click)="styleChanger()" class='right-arrow comp'><img class='right-arrows' src="./../../assets/svg/right-arrow.svg"></button>
<h1 class="comp">Whishlist</h1>
<div class="element-wrapper" *ngFor="let item of wishes" >
    <h2 class="name mob">
        {{item.name}}
        <img class='close' src="./../../assets/svg/closeBtn.svg">
    </h2>
    <h2 class="price mob"> € {{item.price}}</h2>

    <div class="imges comp">
        <img class='small-img'src="{{item.img}}">
    </div>
    <div class="details">
        <h2 class="comp">
			{{item.name}}
            <span class="price">
                € {{item.price}}
            </span>
            <img class='close' src="./../../assets/svg/closeBtn.svg">
        </h2>
        <div class="elements">
            <div class="imges mob">
                <img class='small-img'src="{{item.img}}">
            </div>
        <div class="block stick ss bb">
           <p> 
            <img class='icon' src="./../../assets/svg/road.svg">
            {{item.mileage}} km
           </p>
           <p> 
            <img class='icon' src="./../../assets/svg/user.svg">
            {{item.used}}
           </p>
           <p> 
            <img class='icon' src="./../../assets/svg/gas.svg">
            {{item.oil}}
           </p>
        </div>
        <div class="block sticks ">
            <p> 
            <img class='icon' src="./../../assets/svg/calendar.svg">
            {{item.date}}
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/user.svg">
            {{item.howMuchUsers}}
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/rainDrop.svg">
            {{item.howMuchFood}}
            </p>
        </div>
        <div class="block bb aa">
            <p> 
             <img class='icon' src="./../../assets/svg/horse.svg">
             {{item.horsePower}}
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/settings.svg">
            {{item.transmission}}
            </p>
            <p> 
            <img class='icon' src="./../../assets/svg/Co2.svg">
            {{item.polution}}
            </p>   
        </div>
    </div>


    </div>

</div>

</div>
