<div class="nav-bar-full">
    <div class="logo">
      <a routerLink=""><h1>LOGO</h1></a>
      <button class="iconsss" (click)="NavBarVis()">
        <img class="iconss" src="../../../../assets/svg/burger.svg" style="{{ceh}}"/>
      <img class="iconss" src="../../../../assets/svg/closeBtn.svg" style="{{meh}}"/>
    </button>
    </div>
    <div class="nav-bar-content" style="{{meh}}">
    <div class="center">
        <ul class="nav-list">
            <li class="nav-list-item {{button.calculateClass()}}" *ngFor="let button of navButtons"><a (click)="changePage(button)" class="nav-link {{button.calculateLinkClass()}}" routerLink="{{button.link}}">{{button.text}}</a></li>
        </ul>
    </div>

    <div class="right">
        <div class="user-control">
            <div>
            <button (click)="switchRegister()" class="nav-btn">
      Register
      </button>
            <span>/</span>
            <button (click)="switchLogin()"class="nav-btn">
      Login
      </button>
            </div>
            <div>
                <img class="icon" src="../../../../assets/svg/user.svg" />
            </div>
            <button style="display: none">me</button>
        </div>
        <div class="lang-menu">
            <div class="dropdown">
                <button class="drop-btn">EN</button>
                <div class="dropdown-content">
                    <a href="#">RU</a>
                    <a href="#">LV</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<vehiclos-login (visibleSwitch)="switchLogin($event)" [isVisible]="isLogin" ></vehiclos-login>
<vehiclos-register (visibleSwitch)="switchRegister($event)" [isVisible]="isRegister"></vehiclos-register>
