<div class="nav-bar-full">
    <div class="logo">
      <a routerLink=""><h1>LOGO</h1></a>
    </div>
    <div class="center">
        <ul class="nav-list">
            <li class="nav-list-item {{button.calculateClass()}}" *ngFor="let button of navButtons"><a (click)="changePage(button)" class="nav-link {{button.calculateLinkClass()}}" routerLink="{{button.link}}">{{button.text}}</a></li>
        </ul>
    </div>

    <div class="right">
        <div class="user-control">
            <button (click)="switchRegister()" class="nav-btn">
      Register
      </button>
            <span>/</span>
            <button class="nav-btn">
      Login
      </button>
            <img class="icon" src="../../../../assets/svg/user.svg" />

            <button style="display: none">me</button>
        </div>
        <div class="lang-menu">
            <div class="dropdown">
                <button class="drop-btn">EN</button>
                <div class="dropdown-content">
                    <a href="#">RU</a>
                    <a href="#">LV</a>
                </div>
            </div>
        </div>
    </div>
</div>
<vehiclos-login ></vehiclos-login>
<vehiclos-register (visibleSwitch)="switchRegister($event)" [isVisible]="isRegister"></vehiclos-register>
