@import "./../../../../styles.scss";
.main{
	position: absolute;
	height: 100%;
	width: 330px;
	z-index: 10;
	font-family: $basic-fonts;
	

	background: #F9F9F9;
	box-shadow: 9px 4px 18px rgba(0, 0, 0, 0.25);
	span{
		position: relative;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		text-align: center;
		}
	.right-arrow{
		position: relative;
		top:49px;
		left:40px;
		transform: rotate(180deg);
		width: 19px;
		height: 31px;
	}
	.selectors{
		margin-top:51px;
		display: flex;
		flex-direction: column;
		text-align: center;
		*{
			margin-top:2rem;
		}
	}	
	.span1{
		display: flex;
		align-items: center;
		margin-top:17px;
		justify-content: center;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #797979
	}
	.span2{
		margin-top:41px;
		padding-left:30px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #797979
	}
	h3{
		margin-top:25px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;	
		text-align: center;
		
	}
	.slider{
		margin-top: 26px;
		padding: 0 30px;
	}
	.checkboxs{
		padding: 30px ;

	}
}