<div class= 'main' style="{{style}}">
	
	<img class='right-arrow mobile'src="./../../../assets/svg/right-arrow.svg">

	<span><h1 class="mobile">LOGO</h1></span>
	<Button (click)="styleChanger()" class=' comp'>
	<img class='right-arrow comp'src="./../../../assets/svg/filter.svg">
	</Button>
	<div class="selectors">
		<vehiclos-select [options]="a"></vehiclos-select>
		<vehiclos-select [options]="a"></vehiclos-select>
		<vehiclos-select [options]="a"></vehiclos-select>
	</div>
	<div class="span1"> 
		<a href="#">+ add more makes/models</a>
	</div>
	<div>
		<h3>Price range</h3>
		<div class="slider">
			<vehiclos-multi-range-slider max="100" min="1"></vehiclos-multi-range-slider>
			</div>
		<h3>First Registration</h3>
		<div class="slider">
			<vehiclos-multi-range-slider max="100" min="1"></vehiclos-multi-range-slider>
			</div>
		</div>
		<div class="selectors">
			<vehiclos-select [options]="a"></vehiclos-select>
			<vehiclos-select [options]="a"></vehiclos-select>
			<vehiclos-select [options]="a"></vehiclos-select>
		</div>
		<div class="span2">Vehicle condition</div>
		<div class="checkboxs" >
			<vehiclos-checkbox [checkboxes]="b"></vehiclos-checkbox>
	</div>
</div>