<div class= 'main'>
	<img class='right-arrow'src="./../../../assets/svg/right-arrow.svg">
	<span><h1>LOGO</h1></span>
<div class="selectors">
	<vehiclos-select [options]="a"></vehiclos-select>
	<vehiclos-select [options]="a"></vehiclos-select>
	<vehiclos-select [options]="a"></vehiclos-select>
</div>
<div class="span1">+ add more makes/models</div>
<div>
<h3>Price range</h3>
<div class="slider">
	<vehiclos-multi-range-slider max="100" min="1"></vehiclos-multi-range-slider>
	</div>
<h3>First Registration</h3>
<div class="slider">
	<vehiclos-multi-range-slider max="100" min="1"></vehiclos-multi-range-slider>
	</div>
</div>
<div class="selectors">
	<vehiclos-select [options]="a"></vehiclos-select>
	<vehiclos-select [options]="a"></vehiclos-select>
	<vehiclos-select [options]="a"></vehiclos-select>
</div>
<div class="span2">Vehicle condition</div>
<div class="checkboxs" >
	<vehiclos-checkbox [checkboxes]="b"></vehiclos-checkbox>

</div>

</div>