.headings {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: auto;

  * {
    margin: 0 0 26px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .price {
    margin-left: 30px;
  }
}

.sliders {
  margin-bottom: 93px;
  display: flex;
  justify-content: center;
  *{
    margin: 0 36px;
  }
}
