<div class="pre-footer">
    <div class="column">
        <h2 class="info-header">Contact us</h2>
        <h4>Leave a message</h4>
        <div><img class="icon" src="../../../../assets/svg/mail.svg" />info@vehiclos.com</div>
        <div><img class="icon" src="../../../../assets/svg/phone-call.svg" />29292929</div>
    </div>
    <div class="column">
        <h2 class="info-header">Terms and Conditions</h2>
        <h4>How do we work</h4>
        <a class="readmore" href="#">Read more...</a>
    </div>
    <div class="column">
        <h2 class="info-header">Privacy policy</h2>
        <h4>Safety first</h4>
        <a class="readmore" href="#">Read more...</a>
    </div>
    <div class="column">
        <h2 class="info-header">Social media</h2>
        <h4>Tell your friends</h4>
        <a href="#"><img class="social-media" src="../../../../assets/svg/facebook%20(1).svg" />
        </a>
        <a href="#"><img class="social-media" src="../../../../assets/svg/instagram%20(1).svg" /></a>
    </div>
</div>
