@import "./../../../../styles";
.main{
	width: 100%;
	height: 100%;
	margin-left: 254px;
	font-family: Roboto;



	.small-info{

		.main-info{
			h1{
				
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 42px;
				margin-top: 77px;
				margin-bottom: 57px;
				margin-left: 130px;
				span{
					margin-left: 305px;
					text-decoration:underline;
				}
			}
		}
		.right-arrow{
			position: relative;
			width: 21px;
			height: 31px;
			left: 42px;
			top: 115px;
			transform: rotate(-180deg);
		}
		.container{
			display:flex;
			flex-direction: row;
		.wrapp{
		
		flex-direction: column;
			.element-wrapper{
			
			button{
				margin-bottom:18px;
				width: 112px;
				height: 92px;
				border: none; 
				border-radius: 10px;
				overflow: hidden;
				transition:  0.5s all ease;
				&:focus{
					outline: none;
				}
				&:hover{
					transform:scale(1.2);
					cursor: pointer;
					transition: 0.3s all ease;
				}
				padding: 0;
					.small-img{
						
						width: inherit;
						height: inherit;
						
						
					}
				}
				
			}
		}
		.main-img-box{
			margin-left:17px;
			width: 657px;
			height: 534px;
			overflow: hidden;
			border-radius: 40px;
			.main-img{
				width: 657px;
				height: 534px;
			}
		}
		.container-info{
			flex-direction: column;
			margin-left: 44px;
			h1{
				margin-bottom: 25px;
			}
			p{
				width: 593px;
				position: relative;
				margin-bottom: 111px;
			}
			p::after{
				content: " ";
				position: absolute;
				top: 142px;
				right: 112px;
				height: 2px;
				width: 489px;
				background-color:#262D31;
			}
			.icon-container{
				display: inline-block;
				width: 100%;
				table{
				max-width: 100%;
					
				tr{
					border-spacing: 5px;
					td{
						width: 1%;
						padding-bottom: 30px;
						height: 20px;
						vertical-align: middle;
						
						
					}
					.right{
						position: relative;
						right: 94px;
					}
					.rightT{
						position: relative;
						right: 175px;
					}
					.text{
						position: relative;
						right: 81px;
					}
				
				}
				.icon{
					width: 26px;
					height: 26px;
				}
				}
			
			}
		}


	}
	}
	.details-container{
		display:flex;
		flex-direction: column;
		margin-left: 141px;
		margin-top: 28px;
		height: 1666px;
		

		.mini-navbar-container{
			position: relative;
			flex-direction: row;
			h2{
				display: inline-block;
				margin-right: 54px;
			}
		}
		.mini-navbar-container::after{
			content: " ";
			position: absolute;
			top: 41px;
			left: -8px;
			height: 2px;
			width: 621px;
			background-color: #262D31;

		}
		.main-details{
			margin-top:47px;
			h1{
				margin-bottom:14px;
				font-size: 24px;
				line-height: 28px;
				
			}
			.state{
				.elemment-details{
					display:flex;
					margin-left: 10px;
					height: 296px;
					width: 100%;
					flex-direction: row;
					.states{
						width: 202px;
						h2{
							margin-bottom: 23px;
						}
						p{
							margin-bottom: 13px;
						}
					}
					.support-state{
						margin-top: 40px;
					}
					.afters{
						position: relative;
					}
					.afters::after{
						content: " ";
						position: absolute;
						top: -48px;
						left: 177px;
						height: 328px;
						min-width: 2px;
						max-width:  2px;
						background-color: #E7E6E9;
					}

				}
			
			}
			
		}
		h1{
			margin-top: 79px;
			margin-bottom: 33px;
			font-size: 24px;
			line-height: 28px;
		}
		.container-Elementts{
			margin-left: 10px;
			height: 296px;
			width: 100%;
			-moz-column-width: 50px;
			column-width: 420px;
			-moz-column-gap: 0;
			column-gap: 0;
			-moz-column-fill: auto;
			column-fill: auto;
		
			p{
				font-size: 14px;
				line-height: 16px;
				display: block;
				margin-bottom: 5px;
				

			}
		}
		.container-dealer{
			display:flex;
			flex-direction: row;
			.form{
				margin-right: 58px;
				width: 392px;
				.input{
					width: 367px;
					padding: 0 10px;
					height: 42px;
					margin-bottom: 24px;
					background: #E7E6E9;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 25px;
				}
				.submit{
					
					padding: 0 10px;
					height: 42px;
					margin-bottom: 24px;
					background: #E7E6E9;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 25px;
				}
			}
			.info{

				position: absolute;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				top:10px;
				padding: 5px 10px;
				left:-10px;
				width: 401px;
				height: 42px;
				box-shadow: 6px 9px 8px rgba(0, 0, 0, 0.25);
				border-radius: 20px 0px 0px 0px;
				background:$client-green;
				z-index: 2;

			}
			.maps{
				position: relative;
				width: 668px;
				height: 434px;
				border-radius: 40px;
				
				.normal{
					width: 668px;
					height: 434px;
					border-radius: 40px;
					overflow: hidden;
				agm-map{
					width: 100%;
					height: 100%;
					border-radius: 40px;
				}
				}
		}
		}
		
	}
}