<div class="main">
	<div class="border mob"></div>
	<div class="small-info">
		<div class="main-info">
			<img class='right-arrow' src="./../../../assets/svg/right-arrow.svg">
			<h1>BMW 520 D   <span class="comp">€ 2.980-</span></h1>
			<h2 class="mob">€ 2.980-</h2>
		</div>

		<div class="container">
			<div class='main-img-box mob'><img class='main-img' src="{{main.img}}"></div>
			<div class="wrapp">
				<div class="element-wrapper" *ngFor="let item of datas">
					<input type="text" #box value="{{item.id}}" class="kastil" style="display: none;">
					<button class='small-img-box' (click)="newPhoto(box.value)"><img class='small-img'
							src="{{item.img}}"></button>
				</div>
			</div>
			<div class='main-img-box comp'><img class='main-img' src="{{main.img}}"></div>
			
			<div class="container-info">
				
				<div class="nervSmile">
				<h1 class="comp">Descriprion</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Ut fermentum augue nec neque molestie dignissim. Quisque accumsan feugiat tincidunt.
					Mauris rutrum dolor in ante aliquet, ac pharetra orci cursus. Donec semper dui accumsan
					dolor lobortis, non lobortis nunc fermentum. Ut ut malesuada leo. Sed dictum varius neque
					, tempor blandit libero pellentesque non. Sed in enim vel nulla malesuada sodales placerat
					ac lacus. Nullam scelerisque vehicula hendrerit.</p>
				</div>
				<div class="icon-container">
					<table >
			
						<tr>
						  <td><img class='icon' src="./../../../assets/svg/road.svg"></td>
						  <td class="text">200,000 km</td>
						  <td class="right"><img class='icon' src="./../../../assets/svg/gas.svg"></td>
						  <td class="rightT">Used/2 previous users</td>
						</tr>
						<tr>
						  <td ><img class='icon' src="./../../../assets/svg/calendar.svg"></td>
						  <td class="text">06/2009</td>
						  <td class="right"> <img class='icon' src="./../../../assets/svg/gas.svg"></td>
						  <td class=" rightT">Gasoline</td>
						</tr>
						<tr>
						  <td><img class='icon' src="./../../../assets/svg/horse.svg"></td>
						  <td class="text">100 kW 136 hp</td>
						<td class="right"><img class='icon' src="./../../../assets/svg/settings.svg"></td>
						<td class="rightT">Manual</td>
						</tr>
					 </table>
					 <h1 class="mob">Descriprion</h1>
		
				</div>

			</div>
		
		</div>

	</div>

	<div class="details-container">
		<div class="mini-navbar-container comp">
			<h2>Details</h2> 
			<h2>Equipment</h2> 
			<h2>Contact</h2>
		</div>
		
		<div class="main-details">
			<h1>Details</h1>
			<div class="state">
				
				<div class="elemment-details">

					<div class="first-state states">
						<h2>State</h2>
						<p class="rapper" *ngFor="let item of details">{{item.atr}} </p>
					</div>
					<div class="support-state states afters">

						<p class="rapper" *ngFor="let item of details">{{item.atrInf}} </p>
					</div>
					<div class="second-state states">
						<h2>State</h2>
						<p class="rapper" *ngFor="let item of details">{{item.atr}} </p>
					</div>
					<div class="support-state states afters">

						<p class="rapper" *ngFor="let item of details">{{item.atrInf}}  </p>
					</div>
					<div class="third-state states">
						<h2>State</h2>
						<p class="rapper" *ngFor="let item of details">{{item.atr}} </p>
					</div>
					<div class="support-state states">

						<p class="rapper" *ngFor="let item of details">{{item.atrInf}}  </p>
					</div>

				</div>
			</div>
	
		</div>

		<h1>Equipment</h1>
		<div class="container-Elementts">
			
			<p class="wrapper" *ngFor="let item of elements">{{item.Atr}}</p>
	
		</div>
		<h1 >Contact dealer</h1>
		<div class="container-dealer">
			
			<div class="form">
				<form>
					<input type="text" class="input" placeholder="Name">
					<input type="text" class="input" placeholder="E-mail">
					<input type="text" class="input" placeholder="Subject">
					<input type="submit"  class="submit" placeholder="Submit">

				</form>


			</div>
			
			<div class="maps">
				<div class="info">{{position.name}}</div>
				<div class=normal>
				<agm-map [latitude]="position.lat" [longitude]="position.lng">
					<agm-marker [latitude]="position.lat" [longitude]="position.lng"></agm-marker>
			</agm-map>
				</div>
		</div>
		</div>
	</div>


</div>